@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Suppercell";
  src: url("/fonts/supercell-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/supercell-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main: #020d1b;
  --accent1: #d171d4;
  --accent2: #9132b4;
  --accent3: #322f5a;
  --accent4: #cfd6e6;
}

/* body {
  background-color: var(--main);
  background-image: url("/images/backgrounds/hero-home-1440.jpg"),
    url("/images/backgrounds/footer.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center, bottom right 31%;
} */

/* body:has(.home) {
  background-color: var(--main);
  background-image: url("/images/backgrounds/hero-home-1440.jpg"),
    url("/images/backgrounds/footer.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center, bottom right 31%;
} */

/* Shake Animation For Hashtag Input */
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Search Suggestioon Animation */
@keyframes slideIn {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.suggestion {
  z-index: -1;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 2px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.3);
  border-right: 1.1em solid rgba(255, 255, 255, 0.3);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.3);
  border-left: 1.1em solid #fff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loadingSpinner 1.1s infinite linear;
  animation: loadingSpinner 1.1s infinite linear;
}
@-webkit-keyframes loadingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loadingSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Stack text on top of exp star w/o position absolute using CSS Grids */
.stacked > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.cc-container {
  @apply container mx-auto xl:px-36 2xl:px-40;
}

/** Load the right background images for various display sizes **/
body {
  background-color: var(--main);
  line-height: 1.2;
  color: #fff;
  background-image: url("/images//backgrounds/banner.jpg"),
    url("/images//backgrounds/footer.jpg");
  background-repeat: no-repeat;
  background-position: top center, bottom center;
  background-size: 150% auto, auto;
}

body:has(.home) {
  background-image: url("/images//backgrounds/hero-home-1440.jpg"),
    url("/images//backgrounds/footer.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 50% -1%, bottom right 31%;
  background-size: auto;
}

@media only screen and (max-width: 900px) {
  body {
    background-size: auto, auto;
    background-position: 50% -1%, bottom right 31%;
  }
}

@media (min-width: 767px) {
  body.home {
    background-position: top center, bottom center;
    background-size: 120% auto, auto;
  }
}

@media (min-width: 1441px) {
  body:has(.home) {
    background-image: url("/images//backgrounds/hero-home-1920.jpg"),
      url("/images//backgrounds/footer.jpg");
  }
}
@media (min-width: 1991px) {
  body:has(.home) {
    background-image: url("/images//backgrounds/hero-home-2560.jpg"),
      url("/images//backgrounds/footer.jpg");
  }
}

body.overflow-hidden {
  overflow: hidden;
}

/** Hidden Scrollbar **/
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
/* ( For IE, Edge and Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/** Gradient Text **/
.gradient-text {
  @apply font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-[#FFD700] to-magic-medium;
}
